{% extends "base.html" %}

{% block announce %}
  <style>.md-banner a,.md-banner a:focus,.md-banner a:hover{color:currentColor}.md-banner strong{white-space:nowrap}.md-banner .twitter{margin-left:.2em;color:#00acee}</style>
  <div align="center">Too. Much. YAML? 😡 <A HREF='https://store.elfhosted.com/'>Skip the YAML and get a 7-day free trial of an ElfHosted stack</A>! 🎉<BR/>
{% endblock %}

<!-- Add little penguin ascii-art to titles instead of 20-character-long site name -->
{% block htmltitle %}
  {% if page.meta and page.meta.title %}
  <title>{{ page.meta.title }} |・∀・</title>
  {% elif page.title and not page.is_homepage %}
  <title>{{ page.title | striptags }} |・∀・</title>
  {% else %}
  <title>{{ config.site_name }}</title>
  {% endif %}
{% endblock %}