## mkdocs-htmlproofer-plugin>=0.0.3
mkdocs-material


# Direct dependencies
jinja2>=3.0.2
markdown>=3.2
mkdocs>=1.4.2
mkdocs-material-extensions>=1.1
pygments>=2.14
pymdown-extensions>=9.9.1
requests>=2.26

# My own dependencies
mkdocs-git-committers-plugin-2
mkdocs-meta-descriptions-plugin
mkdocs-minify-plugin>=0.2
mkdocs-autolinks-plugin>=0.2.0
mkdocs-git-revision-date-localized-plugin>=0.4.8
mkdocs-macros-plugin
mkdocs-extra-sass-plugin
mkdocs-rss-plugin
mkdocs-with-pdf
mkdocs-htmlproofer-plugin
livereload
qrcode
pillow 
cairosvg
