{% extends "base.html" %}

{% block disqus %}
<div id='discourse-comments'></div>

<script type="text/javascript">
  DiscourseEmbed = { discourseUrl: 'https://discourse.geek-kitchen.funkypenguin.co.nz/',
                     discourseEmbedUrl: '{{ page.canonical_url }}' };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>

<script src="https://instant.page/1.1.0" type="module" integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"></script>
{% endblock %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
  const button = new Crate({
    server: '396055506072109067',
    channel: '456689991326760973',
    shard: 'https://disweb.deploys.io',
    color: '#795548',
    indicator: false,
    notifications: true
  })

  button.notify('Need a 🤚? Hot sweaty geeks are waiting to chat to you! Click 👇')
</script>
{% endblock %}